[Desktop Entry]
Version=1.1.1
Type=Application
Name=Ouroboros Mobile
Comment=Estudo inteligente e autônomo com banco de dados criptografado
Exec=ouroboros-mobile
Icon=ouroboros-mobile
Terminal=false
Categories=Education;Office;
Keywords=estudo;study;planejamento;revisão;simulado;
StartupWMClass=com.example.ouroboros_mobile
