[Desktop Entry]
Version=1.0
Type=Application
Name=Ouroboros Mobile
Comment=Smart and autonomous study tool with encrypted database (v1.1.1)
Exec=ouroboros_mobile
Icon=com.ouroboros.mobile
Terminal=false
Categories=Education;Office;
Keywords=study;planning;review;flashcards;exam;
StartupWMClass=ouroboros_mobile
